/* FONTS */

:root {
    --padding-global: 10vw;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

a {
    color: #fff;
}