/* FONTS */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

@font-face {
    font-family: "grooved";
    src: url(./utils/GROOVED\ PERSONAL\ USE.ttf)
}

:root {
    --padding-global: 10vw;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 100vw;
}

/* HEADER */

.header {
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: #000;
    padding: 5px 0;
}

.logo {
    min-width: 3%;
    max-width: 70px;
}

/* MAIN */

.main {
    display: flex;
    flex-direction: row;
}

.apresentation {
    display: flex;
    width: 100%;
    height: 100vh;
    max-height: 782px;
    background-image: url(./assets/backMainTwo.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.message {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-family: 'Roboto';
    backdrop-filter: blur(3px);
}

.message .messageText {
    font-family: 'grooved';
    font-size: 1000%;
    color: #fff;
}

.message h2 {
    font-size: 300%;
    color: #fff;
    opacity: .9;
    margin: 30px 0;
    text-align: center;
}

.message a {
    font-size: 150%;
    padding: 10px 30px;
    border-radius: 15px;
    background-color: #000;
    color: #fff;
    border: 2.5px solid #fff;
    outline: none;
    text-decoration: none;
    cursor: pointer;
    transition: background-color .5s ease-in-out;
}

.message a:hover {
    background-color: #C50615;
}

.message a:active {
    opacity: 0.7;
}

/* SUBSCRIBE AREA */

.subscribe {
    display: flex;
    flex-direction: column;
    height: 50vh;
    background-color: #000;
    align-items: center;
    justify-content: center;
    padding: 0 var(--padding-global);
}

.subscribe h1 {
    color: #fff;
    font-size: 5vw;
    text-align: center;
}

.btnSubscribe {
    color: #fff;
    background-color: #C50615;
    border: 2.5px solid #fff;
    border-radius: 15px;
    font-size: 1.5vw;
    font-weight: 500;
    width: 30%;
    height: 15%;
    margin-top: 30px;
    cursor: pointer;
}

.btnSubscribe:hover {
    opacity: 0.8;
}

.btnSubscribe:active {
    opacity: 0.5;
}

/* Gallery */

.gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #000;
}

.gallery video {
    width: 60vw;
    margin-top: 50px;
}

/* About the projetc */

.about {
    display: flex;
    flex-direction: column;
    padding: 0 var(--padding-global);
    align-items: center;
}

.about h1 {
    text-align: center;
    font-weight: 900;
    font-size: 40px;
    margin-bottom: 20px;
}

.about p {
    text-align: justify;
    font-size: 20px;
}

.about::after,
.about::before {
    content: "";
    height: 1px;
    width: 85%;
    background-color: #000;
    margin: 50px;
}

/* footer */

.footer {
    display: flex;
    flex-direction: row;
    background-color: #000;
    color: #fff;
    padding: 20px var(--padding-global);
    align-items: center;
    justify-content: space-between;
    font-size: 15px;
    gap: 50px;
}

.brev {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.textFooter {
    margin: 5px 0;
}

.socialMedias {
    margin: 0px;
    display: flex;
    gap: 50px;
    width: 100%;
}

.directs {
    color: #A7A7A7;
}

.footer img {
    max-width: 15%;
    min-width: 100px;
}

/* responsivity */

@media screen and (max-width: 600px) {

    .apresentation .messageText {
        font-size: 6rem;
    }

    .message h2 {
        font-size: 1.5rem;
    }

    .subscribe h1 {
        font-size: 2rem;
    }

    .btnSubscribe {
        font-size: 1rem;
        width: 60%;
    }

    .gallery video {
        width: 100%;
    }
}